.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1.5px;
  width: 30px;
  height: 20px;
}

.audio-bar {
  background-color: var(--color-primary-200);
  height: 24px;
  width: 2px;
  position: relative;
  transform-origin: center;
  border-radius: 1000px;

  &.bar-paused {
    animation: none;
    transform: scaleY(0.5);

    &:nth-child(even) {
      transform: scaleY(0.8);
    }
  }
}

.bar-1,
.bar-2,
.bar-3,
.bar-4,
.bar-5 {
  animation: infinite playing 1.2s ease-in-out;
}

.bar-1 {
  animation-delay: 0.2s;
}

.bar-2 {
  animation-delay: 0.5s;
}

.bar-3 {
  animation-delay: 0.6s;
}

.bar-4 {
  animation-delay: 0s;
}

.bar-5 {
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.2);
    opacity: 1;
  }

  33% {
    transform: scaleY(0.6);
    opacity: 0.8;
  }

  66% {
    transform: scaleY(0.9);
    opacity: 0.6;
  }

  100% {
    transform: scaleY(0.2);
    opacity: 1;
  }
}