@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-50: #eeeeff;
  --color-primary-100: #e0e1ff;
  --color-primary-200: #c7c8fe;
  --color-primary-300: #a5a7fc;
  --color-primary-400: #8184f8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4649e5;
  --color-primary-700: #383bca;
  --color-primary-800: #3032a3;
  --color-primary-900: #2e3081;
  --color-primary-950: #1b1c4b;

  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(100%);
      opacity: 0.3;
    }

    25% {
      opacity: 0.7;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 0.5;
    }

    100% {
      transform: translateX(-100%);
      opacity: 0.2;
    }
  }
}


html {
  overscroll-behavior: none;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}